[submodule "zopfli"]
	path = zopfli
	url = https://github.com/google/zopfli
[submodule "Koturn.Zopfli"]
	path = Koturn.Zopfli
	url = https://github.com/koturn/Koturn.Zopfli
[submodule "Koturn.CommandLine"]
	path = Koturn.CommandLine
	url = https://github.com/koturn/Koturn.CommandLine
