[submodule "zopfli"]
	path = zopfli
	url = https://github.com/google/zopfli
[submodule "ZopfliSharp"]
	path = ZopfliSharp
	url = https://github.com/koturn/ZopfliSharp
[submodule "ArgumentParserSharp"]
	path = ArgumentParserSharp
	url = https://github.com/koturn/ArgumentParserSharp
